<div class="container py-5">

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="show(null)">Add</button>
    <button type="button" class="btn btn-secondary" (click)="csvExport()">CSV</button>
  </div>

  <br>
  <br>

  <ag-grid-angular
      style="width: 500px; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [columnTypes]="columnTypes"
      [frameworkComponents]="frameworkComponents"
      [rowSelection]="rowSelection"
      (rowClicked)="onSelectionChanged($event)"
      (gridReady)="onGridReady($event)"
  >
  <!-- (selectionChanged)="onSelectionChanged($event)"  -->
  </ag-grid-angular>

  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'" style="background: rgba(0,0,0,.5);">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">

          <form #myForm="ngForm" (ngSubmit)="save(myForm)" telephoneNumbers novalidate>

            <div class="mb-3">
              <label for="ad" class="form-label">Ad</label>
              <input type="text" class="form-control" placeholder="" id="ad" name="ad" #ad="ngModel" ngModel required>
              <show-errors [control]="ad"></show-errors>
            </div>

            <div class="mb-3">
              <label for="soyad" class="form-label">Soyad</label>
              <input type="text" class="form-control" placeholder="" id="soyad" name="soyad" #soyad="ngModel" ngModel required>
              <show-errors [control]="soyad"></show-errors>
            </div>

            <div class="mb-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [value]="false" id="erkek" name="cinsiyet" #cinsiyet="ngModel" ngModel required>
                <label class="form-check-label" for="erkek">
                  Erkek
                </label>
            </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [value]="true" id="kadin"  name="cinsiyet" #cinsiyet="ngModel" ngModel required>
                <label class="form-check-label" for="kadin">
                  Kadin
                </label>
              </div>
              <show-errors [control]="cinsiyet"></show-errors>
            </div>

            <div class="mb-3">
              <label for="meslegi" class="form-label">Meslegi</label>
              <input type="text" class="form-control" placeholder="" id="meslegi" name="meslegi" #meslegi="ngModel" ngModel required>
              <show-errors [control]="meslegi"></show-errors>
            </div>

            <div class="mb-3">
              <label for="dogumTarihi" class="form-label">Dogum Tarihi</label>
              <input type="date" class="form-control" placeholder="" id="dogumTarihi" name="dogumTarihi" #dogumTarihi="ngModel" ngModel birthYear>
              <show-errors [control]="dogumTarihi"></show-errors>
            </div>

            <div class="mb-3">
              <label for="mailAdresi" class="form-label">Mail Adresi</label>
              <input type="email" class="form-control" placeholder="" id="mailAdresi" name="mailAdresi" #mailAdresi="ngModel" ngModel email required>
              <show-errors [control]="mailAdresi"></show-errors>
            </div>

            <div class="mb-3">
              <label for="webSitesi" class="form-label">Web Sitesi</label>
              <input type="text" class="form-control" placeholder="" id="webSitesi" name="webSitesi" #webSitesi="ngModel" url ngModel>
              <show-errors [control]="webSitesi"></show-errors>
            </div>

            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="reklamMailleri" name="reklamMailleri" #reklamMailleri="ngModel" ngModel>
                <label class="form-check-label" for="reklamMailleri">
                  Reklam Mailleri
                </label>
              <show-errors [control]="reklamMailleri"></show-errors>
            </div>
            </div>

            <div class="mb-3">
              <label for="adresBilgisi" class="form-label">Adres Bilgisi</label>
              <textarea class="form-control" rows="3" id="adresBilgisi" name="adresBilgisi" #adresBilgisi="ngModel" ngModel></textarea>
              <show-errors [control]="adresBilgisi"></show-errors>
            </div>

            <div class="mb-3">
              <label for="ilID" class="form-label">Il</label>
              <ng-container *ngIf="ilList | async as ilList">
                <select class="form-control" id="ilID" name="ilID" #ilID="ngModel" ngModel>
                 <option *ngFor=" let il of ilList" [value]="il.id">
                   {{il.ad}}
                 </option>
                </select>
                <show-errors [control]="ilID"></show-errors>
               </ng-container>
            </div>

            <div class="mb-3 p-3 shadow-sm">
              <div ngModelGroup="phoneNumbers">
                <label class="form-label">Telefonlar</label>
                <div *ngFor="let phoneId of phoneNumberIds; let i=index;">

                  <label for="phoneNumber[{{phoneId}}]">Phone number {{i + 1}} </label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="phoneNumber[{{phoneId}}]" name="phoneNumber[{{phoneId}}]" #phoneNumber="ngModel" ngModel required telephoneNumber>
                    <button type="button" class="btn btn-danger" (click)="remove(i); myForm.control.markAsTouched()" title="Telefonu sil">&times;</button>
                  </div>

                  <show-errors [control]="phoneNumber"></show-errors>
                </div>
                <button type="button" class="btn btn-success" (click)="add(); myForm.control.markAsTouched()">Telefon ekle</button>
              </div>
            </div>

            <div class="mb-3">
              <label for="notlar" class="form-label">Notlar</label>
              <textarea class="form-control" rows="3" id="notlar" name="notlar" #notlar="ngModel" ngModel></textarea>
              <show-errors [control]="notlar"></show-errors>
            </div>

            <div class="shadow-sm">
              <show-errors [control]="myForm"></show-errors>
            </div>

            <pre>{{myForm.value | json}}</pre>
          </form>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hide()">Vazgeç</button>
          <button type="submit" class="btn btn-success" [disabled]="myForm.invalid || myForm.pending" (click)="save(myForm)">Kaydet</button>
        </div>

      </div>
    </div>
  </div>

</div>
